section {
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins';
}

.text-container {
    width: 560px;
    height: 240px;
    h2 {
        margin: 0px;
        line-height: 1.16;
    }
}

.text-img {
    width: 260px;
}

.join-container {
    width: 560px;
    img {
        width: 560px;
        height: 400px;
    } 
    h3 {
        margin: 0px;
    }
}