<section>
    <div class="text-container">
        <b>MY CRAFT</b>
        <div class="text-img">
            <h2>Projects</h2>
            <img src="assets/project_view_img/upper_part/yellow_line.svg">
        </div>
        <p>Text</p>
    </div>
    <div class="join-container">
        <img src="assets/project_view_img/upper_part/join.svg">
        <h3>Join</h3>
        <p>
            Task manager inspired by the Kanban System.
            Create and organize tasks using drag and drop functions,
            assign users and categories. 
        </p>
    </div>
</section>
