section {
    height: 100vh;
    font-family: 'Poppins';
    h2 {
        margin: 0px;
        line-height: 1.16;
    }
}

.container-one {
    width: 90%;
    height: 136px;
    align-items: flex-end;
}

.card-one,
.card-two-container,
.card-three-container {
  transition: z-index 0s, transform 0.3s ease;
}

.img-hover {
    position: absolute;
    opacity: 0;
    z-index: 1; 
    transition: opacity 0.3s ease; 
}

.card-one:hover .img-hover,
.card-two-container:hover .img-hover,
.card-three-container:hover .img-hover {
    opacity: 0.6;
    z-index: 2; 
}

.hover-img-txt {
    position: relative;
    z-index: 3; 
}

.hover-img-txt:hover {
    color: rgb(248, 249, 250);
    filter: brightness(0) invert(1); 
}

.hover-effect:hover {
    z-index: 3; 
}

.hover-effect:hover p,
.hover-effect:hover h4 {
    color: rgb(248, 249, 250); 
}

.text-img {
    height: 40px;
    align-items: center;
    display: flex; 
    overflow: hidden; 
}

.text-img img {
    width: 100px;
    height: 36px;
    opacity: 0; 
    clip-path: inset(0 100% 0 0); 
    animation: drawAndHide 2s infinite; 
}

.text-img p {
    margin: 0px;
}

@keyframes drawAndHide {
    0% {
        clip-path: inset(0 0 0 100%); 
        opacity: 0; 
    }
    25% {
        clip-path: inset(0 0% 0 0); 
        opacity: 1; 
    }
    50% {
        clip-path: inset(0 0% 0 0); 
        opacity: 1; 
    }
    75% {
        clip-path: inset(0 0% 0 100%); 
        opacity: 0; 
    }
    100% {
        clip-path: inset(0 100% 0 0); 
        opacity: 0; 
    }
}

.card-container {
    width: 1200px;
    height: 404px;
    margin-top: 64px;
}

.card-one {
    background-image: url('./../../../public/assets/thoughts_img/rectangle_sticker.svg');
    width: 512px;
    height: 320px; 
    z-index: 1;
}

.card-two-container {
    z-index: 2;
    left: 120px;
    transform: rotate(-4deg);
    margin-bottom: 96px;
}

.card-two {
    background-image: url('./../../../public/assets/thoughts_img/rectangle_sticker.svg');
    width: 512px;
    height: 320px;
}

.card-three-container {
    z-index: 0;
    right: 120px;
    transform: rotate(4deg);
    margin-bottom: 96px;
}

.card-three {
    background-image: url('./../../../public/assets/thoughts_img/rectangle_sticker.svg');
    width: 512px;
    height: 320px;
}

.height {
    height: 100%;
}

.card-container-center {
    justify-content: center;
    height: 100%;
}

.width-height {
    width: 90%;
    justify-content: space-between;
    margin: 24px 8px 24px 8px;
}

.autograph {
    height: 47px;
    align-items: center;
    justify-content: space-between;
    h4 {
        margin: 0px;
    }
    p {
        margin: 0px;
    }
}

.flex {
    align-items: center;
    img {
        height: 18px;
        width: 18px;
    }
}