<section class="flex-justyfy-align">
    <div class="main-container flex-justyfy-align column">

        <div class="container-one display-flex column">
            <div class="text-img display-flex">
                <img src="assets/thoughts_img/arrow.svg">
                <p class="font-size-20 weight-500">{{ 'TRANSLATE.THOUGHTS_WORDS' | translate }}</p>
            </div> 
            <div class='display-flex'>
                <h2 class="font-size-64 weight-700">{{ 'TRANSLATE.THOUGHTS_AOT' | translate }}</h2>
            </div>   
        </div>

        <div class="container-two display-flex">
            <div class="card-one hover-effect absolute flex-justyfy-align">
                <img class="img-hover" src="assets/thoughts_img/yellow_lines.svg">
                <div class="width-height display-flex column">
                    <div>
                        <span class="font-size-18 weight-400">
                            {{ 'TRANSLATE.THOUGHTS_TEXT1' | translate }}
                        </span>
                    </div>
                    <div class="autograph display-flex">
                        <div>
                            <h4 class="font-size-20 weight-700">Name Surname</h4>
                            <p class="font-size-16 weight-500">Developer</p>
                        </div>
                        <div class="flex display-flex hover-img-txt">
                            <img src="assets/thoughts_img/linkdin_svg.svg">
                            <a class="font-size-18 weight-500 pointer">{{ 'TRANSLATE.THOUGHTS_PROFILE' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-two hover-effect absolute flex-justyfy-align">
                <img class="img-hover" src="assets/thoughts_img/yellow_lines.svg">
                <div class="width-height display-flex column">
                    <div>
                        <span class="font-size-18 weight-400">
                            {{ 'TRANSLATE.THOUGHTS_TEXT2' | translate }}
                        </span>
                    </div>
                    <div class="autograph display-flex">
                        <div>
                            <h4 class="font-size-20 weight-700">Name Surname</h4>
                            <p class="font-size-16 weight-500">Developer</p>
                        </div>
                        <div class="flex display-flex hover-img-txt">
                            <img src="assets/thoughts_img/linkdin_svg.svg">
                            <a class="font-size-18 weight-500 pointer">{{ 'TRANSLATE.THOUGHTS_PROFILE' | translate }}</a>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="card-three hover-effect absolute flex-justyfy-align">
                <img class="img-hover" src="assets/thoughts_img/yellow_lines.svg">
                <div class="width-height display-flex column">
                    <div>
                        <span class="font-size-18 weight-400">
                            {{ 'TRANSLATE.THOUGHTS_TEXT3' | translate }}
                        </span>
                    </div>
                    <div class="autograph display-flex">
                        <div>
                            <h4 class="font-size-20 weight-700">Name Surname</h4>
                            <p class="font-size-16 weight-500">Developer</p>
                        </div>
                        <div class="flex display-flex hover-img-txt">
                            <img src="assets/thoughts_img/linkdin_svg.svg">
                            <a class="font-size-18 weight-500 pointer">{{ 'TRANSLATE.THOUGHTS_PROFILE' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>