<section>

    <div class="container-one column">
        <div class="right">
            <div class="text-img display-flex">
                <img src="assets/thoughts_img/arrow.svg">
                <p class="font-size-20 weight-500">IN THEIR WORDS:</p>
            </div> 
            <div class='display-flex right'>
                <h2 class="font-size-64 weight-700">Colleagues' Thoughts</h2>
            </div>    
        </div>
    </div>

    <div class="flex-justyfy-align">

        <div class="card-container flex-justyfy-align">
            
                <div class="card-one">
                    
                    <div class="height">
                        <div class="card-container-center display-flex">
                            <div class="width-height display-flex column">
                                <div>
                                    <span class="font-size-18 weight-400">
                                        Karl really kept the team together with his great
                                         organization and clear communication.
                                         We wouldn't have got this far without his commitment.
                                    </span>
                                </div>
                                <div class="autograph display-flex">
                                    <div>
                                        <h4 class="font-size-20 weight-700">Name Surname</h4>
                                        <p class="font-size-16 weight-500">Developer</p>
                                    </div>
                                    <div class="flex display-flex">
                                        <img src="assets/thoughts_img/linkdin_svg.svg">
                                        <a class="font-size-18 weight-500 pointer">Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                
            </div>
            <div class="card-two-container display-flex absolute">
                <div class="card-two">

                    <div class="height">
                        <div class="card-container-center display-flex">
                            <div class="width-height display-flex column">
                                <div>
                                    <span class="font-size-18 weight-400">
                                        Karl really kept the team together with his great
                                         organization and clear communication.
                                         We wouldn't have got this far without his commitment.
                                    </span>
                                </div>
                                <div class="autograph display-flex">
                                    <div>
                                        <h4 class="font-size-20 weight-700">Name Surname</h4>
                                        <p class="font-size-16 weight-500">Developer</p>
                                    </div>
                                    <div class="flex display-flex">
                                        <img src="assets/thoughts_img/linkdin_svg.svg">
                                        <a class="font-size-18 weight-500 pointer">Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-three-container display-flex absolute">
                <div class="card-three">

                    <div class="height">
                        <div class="card-container-center display-flex">
                            <div class="width-height display-flex column">
                                <div>
                                    <span class="font-size-18 weight-400">
                                        Karl really kept the team together with his great
                                         organization and clear communication.
                                         We wouldn't have got this far without his commitment.
                                    </span>
                                </div>
                                <div class="autograph display-flex">
                                    <div>
                                        <h4 class="font-size-20 weight-700">Name Surname</h4>
                                        <p class="font-size-16 weight-500">Developer</p>
                                    </div>
                                    <div class="flex display-flex">
                                        <img src="assets/thoughts_img/linkdin_svg.svg">
                                        <a class="font-size-18 weight-500 pointer">Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    

</section>
