section {
    height: 100vh;
    font-family: 'Poppins';
    h2 {
        margin: 0px;
        line-height: 1.16;
    }
}

.container-one {
    width: 90%;
    height: 136px;
    align-items: flex-end;
}

.text-img {
    height: 40px;
    align-items: center;
    img {
        width: 100px;
        height: 36px;
    }
    p {
        margin: 0px;
    }
}

.card-container {
    width: 1200px;
    height: 404px;
    margin-top: 64px;
}

.card-one {
    background-image: url('./../../../public/assets/thoughts_img/rectangle_sticker.svg');
    width: 512px;
    height: 320px; 
    z-index: 1;
}

.card-two-container {
    z-index: 1;
    left: 120px;
    transform: rotate(-4deg);
    margin-bottom: 96px;
}

.card-two {
    background-image: url('./../../../public/assets/thoughts_img/rectangle_sticker.svg');
    width: 512px;
    height: 320px;
}

.card-three-container {
    z-index: -1;
    right: 120px;
    transform: rotate(4deg);
    margin-bottom: 96px;
}

.card-three {
    background-image: url('./../../../public/assets/thoughts_img/rectangle_sticker.svg');
    width: 512px;
    height: 320px;
}

.height {
    height: 100%;
}

.card-container-center {
    justify-content: center;
    height: 100%;
}

.width-height {
    width: 90%;
    justify-content: space-between;
    margin: 24px 8px 24px 8px;
}

.autograph {
    height: 47px;
    align-items: center;
    justify-content: space-between;
    h4 {
        margin: 0px;
    }
    p {
        margin: 0px;
    }
}

.flex {
    align-items: center;
    img {
        height: 18px;
        width: 18px;
    }
}