<section>

    <div class="container-one">
        <div class="right">
            <div class="text-img">
                <img src="assets/thoughts_img/arrow.svg">
                <p>IN THEIR WORDS:</p>
            </div> 
            <h2>Colleagues' Thoughts</h2>   
        </div>
    </div>

    <div class="center-container">

        <div class="card-container">
            
                <div class="card-one">
                    
                    <div class="height">
                        <div class="card-container-center">
                            <div class="width-height">
                                <div>
                                    <span>
                                        Karl really kept the team together with his great
                                         organization and clear communication.
                                         We wouldn't have got this far without his commitment.
                                    </span>
                                </div>
                                <div class="autograph">
                                    <div>
                                        <h4>Name Surname</h4>
                                        <p>Developer</p>
                                    </div>
                                    <div class="flex">
                                        <img src="assets/thoughts_img/linkdin_svg.svg">
                                        <a>Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                
            </div>
            <div class="card-two-container">
                <div class="card-two">

                    <div class="height">
                        <div class="card-container-center">
                            <div class="width-height">
                                <div>
                                    <span>
                                        Karl really kept the team together with his great
                                         organization and clear communication.
                                         We wouldn't have got this far without his commitment.
                                    </span>
                                </div>
                                <div class="autograph">
                                    <div>
                                        <h4>Name Surname</h4>
                                        <p>Developer</p>
                                    </div>
                                    <div class="flex">
                                        <img src="assets/thoughts_img/linkdin_svg.svg">
                                        <a>Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-three-container">
                <div class="card-three">

                    <div class="height">
                        <div class="card-container-center">
                            <div class="width-height">
                                <div>
                                    <span>
                                        Karl really kept the team together with his great
                                         organization and clear communication.
                                         We wouldn't have got this far without his commitment.
                                    </span>
                                </div>
                                <div class="autograph">
                                    <div>
                                        <h4>Name Surname</h4>
                                        <p>Developer</p>
                                    </div>
                                    <div class="flex">
                                        <img src="assets/thoughts_img/linkdin_svg.svg">
                                        <a>Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    

</section>
