section {
    height: 800px;
    width: 100%;
    h2 {
        margin: 0px;
    }
}

.main-container {
    height: 100%;
    width: 1200px;
}

.container-one {
    width: 100%;
    height: 136px;
    align-items: flex-end;
    margin: 32px 0px 32px 0px;
}

.text-img {
    height: 40px;
    align-items: center;
    overflow: hidden; 
}

.text-img img {
    width: 100px;
    height: 36px;
    opacity: 0; 
    clip-path: inset(0 100% 0 0); 
    animation: drawAndHide 2s infinite; 
}

.text-img p {
    margin: 0px;
}

@keyframes drawAndHide {
    0% {
        clip-path: inset(0 0 0 100%); 
        opacity: 0; 
    }
    25% {
        clip-path: inset(0 0% 0 0); 
        opacity: 1; 
    }
    50% {
        clip-path: inset(0 0% 0 0); 
        opacity: 1; 
    }
    75% {
        clip-path: inset(0 0% 0 100%); 
        opacity: 0; 
    }
    100% {
        clip-path: inset(0 100% 0 0); 
        opacity: 0; 
    }
}

.container-two {
    position: relative;
    width: 1200px;
    height: 440px;
}

.card-one {
    background-image: url('./../../../public/assets/thoughts_img/rectangle_sticker.webp');
    width: 512px;
    height: 320px;
    left: 0px;
    z-index: 3;
    transform: rotate(-4deg);
}

.card-two {
    background-image: url('./../../../public/assets/thoughts_img/rectangle_sticker.webp');
    width: 512px;
    height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.card-three {
    background-image: url('./../../../public/assets/thoughts_img/rectangle_sticker.webp');
    width: 512px;
    height: 320px;
    right: 0;
    z-index: 1;
    transform: rotate(4deg);
}

.hover-effect:hover {
    z-index: 4; 
}

.hover-effect:hover p,
.hover-effect:hover h4 {
    color: rgb(248, 249, 250); 
}

.img-hover {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.card-one:hover .img-hover,
.card-two:hover .img-hover,
.card-three:hover .img-hover {
    opacity: 0.6;
    z-index: 1;
}

.width-height {
    width: 90%;
    height: 90%;
    justify-content: space-between;
    margin: 24px 8px 24px 8px;
}

.autograph {
    height: 47px;
    align-items: center;
    justify-content: space-between;
    h4 {
        margin: 0px;
    }
    p {
        margin: 0px;
    }
}

.hover-img-txt {
    position: relative;
    z-index: 3; 
}

.hover-img-txt:hover {
    color: rgb(248, 249, 250);
    filter: brightness(0) invert(1); 
}

@media (pointer: coarse) and (max-width: 1401px) {
    .absolute {
        position: static;
    }
    .container-one {
        height: 440px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0px;
        text-align: right;
    }
    .container-two {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1000px;
        width: 100%;
    }
    .card-two {
        transform: translate(0%, 0%);
    }
    section {
        height: 100%;
    }
}

@media screen and (max-width: 1201px) {
    .main-container {
        width: 90%;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 801px) {
    .card-one,
    .card-two,
    .card-three {
        width: 288px;
        height: 100%;
        border-radius: 10%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .img-hover {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 601px) {
    .flex-end-mobile {
        justify-content: flex-end;
    }
}

