<section>
    <div class="img-txt">
        <div class="yellow-paper">
            <img src="assets\about_me_img\location.svg">
            <p>Based in Graz</p>
        </div>

        <div class="blue-paper">
            <img src="assets\about_me_img\move.svg">
            <p>Open to relocate</p>
        </div>

        <div class="orange-paper">
            <img src="assets/about_me_img/remote.svg">
            <p>Open to work remote</p>
        </div>
    </div>
    <div class="about-me-txt">
        <p>WHO'S DAVOR?</p> 
        <div>
            <h2>About Me</h2>
            <img src="assets\about_me_img\blue_line.svg" class=""> 
        </div>
        <p>
            Hey, I'm Davor. I've always been into tech and software development because 
            I find it exciting how fast everything is evolving. 
            The possibilities we have today and what's coming in the future really inspire me.
            I enjoy thinking up new ideas and turning them into something real that can actually help people. 
            My goal is to build something meaningful that makes a difference in someone's life,
            no matter how big or small.
            Coding keeps me curious and driven. There's always something new to learn,
            a new challenge to figure out, and that's what keeps it fun for me.
        </p>
        <a>Let's talk</a>
    </div>
</section>
