<section class="flex-justyfy-align">
    <div class="main-container flex-justyfy-align">
        <div class="container-one">
            <div class="yellow-paper absolute flex-justyfy-align">
                <img src="assets\about_me_img\location.png">
                <p class="white-font font-size-24 weight-400 margin-0">{{ 'TRANSLATE.ABOUT_BASED' | translate }}</p>
            </div>
            <div class="blue-paper absolute flex-justyfy-align margin-0">
                <img src="assets\about_me_img\move.png">
                <p class="white-font font-size-24 weight-400">{{ 'TRANSLATE.ABOUT_RELOCATE' | translate }}</p>
            </div>
            <div class="orange-paper absolute flex-justyfy-align">
                <img src="assets/about_me_img/remote.png">
                <p class="white-font font-size-24 weight-400 margin-0">{{ 'TRANSLATE.ABOUT_REMOTE' | translate }}</p>
            </div>
        </div>
        <div class="container-two">
            <div class="phone-width">
                <p class="black-font font-size-20 weight-500 margin-0 margin-bottom">{{ 'TRANSLATE.ABOUT_WHO' | translate }}</p>        
                <div class="h2-img-container">
                    <h2 class="black-font font-size-64 weight-700 margin-0">{{ 'TRANSLATE.ABOUT_HEAD' | translate }}</h2>
                    <img src="assets\about_me_img\blue_line.png"> 
                </div>
            </div>     
            <p class="black-font font-size-20 weight-400">{{ 'TRANSLATE.ABOUT_TEXT' | translate }}</p>
            <div class="height-48">
                <a class="flex-justyfy-align black-font font-size-20 weight-500 pointer a-hover" href="#contact">{{ 'TRANSLATE.ABOUT_TALK' | translate }}</a>
            </div>
        </div>
    </div>
</section>