section {
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins';
}

.img-txt {
    width: 560px;
    height: 400px;
    position: relative;
}

.yellow-paper {
    top: 0;
    background-image: url('./../../../public/assets/about_me_img/paper_yellow.svg');
    z-index: 2;
    transform: rotate(4deg);
    height: 152px;
    p {
        transform: rotate(-4deg);
    } img {
        transform: rotate(-4deg);
    }
}

.blue-paper {
    top: 100px;
    background-image: url('./../../../public/assets/about_me_img/paper_blue.svg');
    z-index: 1;
    height: 152px;
}

.orange-paper {
    top: 190px;
    background-image: url('./../../../public/assets/about_me_img/paper_orange.svg');
    z-index: 0;
    transform: rotate(-4deg);
    height: 168px;
    p {
        transform: rotate(4deg);
    }
}

.yellow-paper,
.blue-paper,
.orange-paper {
    width: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    img {
        height: 40px;
        width: 40px;
        margin: 16px;
    }
}

.about-me-txt {
    width: 560px;
    a {
        border: 1px solid rgb(0, 0, 0);
        border-width: 1px 3px 3px 1px;
        width: 132px;
        height: 40px;
        border-radius: 32px;
        float: right;
    }
}




