<section class="display-flex">
    <div class="img-txt display-flex column">
        <div class="yellow-paper absolute flex-justyfy-align">
            <img src="assets\about_me_img\location.svg">
            <p class="white-font font-size-24 weight-400 margin-0">{{ 'TRANSLATE.ABOUT_BASED' | translate }}</p>
        </div>
        <div class="blue-paper absolute flex-justyfy-align margin-0">
            <img src="assets\about_me_img\move.svg">
            <p class="white-font font-size-24 weight-400">{{ 'TRANSLATE.ABOUT_RELOCATE' | translate }}</p>
        </div>
        <div class="orange-paper absolute flex-justyfy-align">
            <img src="assets/about_me_img/remote.svg">
            <p class="white-font font-size-24 weight-400 margin-0">{{ 'TRANSLATE.ABOUT_REMOTE' | translate }}</p>
        </div>
    </div>
    <div class="about-me-txt">
        <p class="black-font font-size-20 weight-500 margin-0 margin-bottom">{{ 'TRANSLATE.ABOUT_WHO' | translate }}</p>        
        <div class="h2-img-container">
            <h2 class="black-font font-size-64 weight-700 margin-0">{{ 'TRANSLATE.ABOUT_HEAD' | translate }}</h2>
            <img src="assets\about_me_img\blue_line.svg" class=""> 
        </div>     
        <p class="black-font font-size-20 weight-400">{{ 'TRANSLATE.ABOUT_TEXT' | translate }}</p>
        <div class="height-48">
            <a class="flex-justyfy-align font-size-20 weight-500 pointer a-hover">{{ 'TRANSLATE.ABOUT_TALK' | translate }}</a>
        </div>      
    </div>
</section>
