<section class="display-flex">
    <div class="pollo-container">
        <img class="pointer" src="assets/project_view_img/lower_part/pollo.svg">
        <h3 class="font-size-24 weight-700">El Pollo Loco</h3>
        <p class="font-size-18 weight-400">
            Jump, run and throw game based on object-oriented approach.
            Help Pepe to find coins and tabasco salsa to fight against the crazy hen.
        </p>
    </div>
    <div class="bubble-containe">
        <img class="pointer" src="assets/project_view_img/lower_part/dabubble.svg">
        <h3 class="font-size-24 weight-700">DABubble</h3>
        <p class="font-size-18 weight-400">
            In progress
        </p>
    </div>
</section>
