<div *ngIf="loading" class="loadingScreen">
  <div class="loader"></div>
  <p>Loading...</p>
</div>
<section>
    <div class="container-one flex-justyfy-align white-font">
        <app-navbar class="navbar-container absolute flex-justyfy-align"></app-navbar>
        <div class="inner-container flex-justyfy-align column">
            <div>
                <h1 class="font-size-64 weight-700">{{ 'TRANSLATE.PP_AOT' | translate }}</h1>
            </div>
            <div>
                <p class="font-size-18 weight-400">{{ 'TRANSLATE.PP_UPPDATE' | translate }}</p>
            </div>
            <div>
                <p class="font-size-18 weight-400">{{ 'TRANSLATE.PP_AOT_TEXT' | translate }}</p>
            </div>
        </div>
    </div>

    <div class="container-two display-flex column">
        <div class="inner-containers flex-justyfy-align column">
            <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.PP_ONE' | translate }}</h2>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_TEXT' | translate }}
            </p>
            <p class="font-size-18 weight-400">
                Davor Jezernik
            </p>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_COUNTRY' | translate }}
            </p>
            <p class="font-size-18 weight-400">
                E-mail: dev&#64;davorjezernik.com
            </p>
        </div>
        <div class="inner-containers flex-justyfy-align column">
            <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.PP_TWO' | translate }}</h2>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_TEXT_TWO' | translate }}
            </p>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_NAME' | translate }}
            </p>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_EMAIL_USER' | translate }}
            </p>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_INFO' | translate }}
            </p>
        </div>
        <div class="inner-containers flex-justyfy-align column">
            <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.PP_THREE' | translate }}</h2>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_TEXT_THREE' | translate }}
            </p>
        </div>
        <div class="inner-containers flex-justyfy-align column">
            <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.PP_FOUR' | translate }}</h2>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_INFO_FOUR' | translate }}
            </p>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_TEXT_FOUR' | translate }}
            </p>
        </div>
        <div class="inner-containers flex-justyfy-align column">
            <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.PP_FIVE' | translate }}</h2>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_RIGHTS' | translate }}
            </p>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_INFO_FIVE' | translate }}
            </p>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_CORRECT' | translate }}
            </p>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_DELETE' | translate }}
            </p>
            <p class="font-size-18 weight-400">
               {{ 'TRANSLATE.PP_WITHDRAW' | translate }}
            </p>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_LADGE' | translate }}
            </p>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_BACK' | translate }}
            </p>
        </div>
        <div class="inner-containers flex-justyfy-align column">
            <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.PP_SIX' | translate }}</h2>
            <p class="font-size-18 weight-400">
               {{ 'TRANSLATE.PP_SIX_TEXT' | translate }} 
            </p>
        </div>
        <div class="inner-containers flex-justyfy-align column">
            <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.PP_SEVEN' | translate }} </h2>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_SEVEN' | translate }} 
            </p>
        </div>
        <div class="inner-containers flex-justyfy-align column">
            <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.PP_EIGHT' | translate }}</h2>
            <p class="font-size-18 weight-400">
                {{ 'TRANSLATE.PP_EIGHT_TEXT' | translate }}.
            </p>
        </div>
        <div class="button-height">
            <a class="black-font font-size-18 weight-500 flex-justyfy-align pointer white-border a-hover" href="#contact">{{ 'TRANSLATE.LN_BACK' | translate }}</a>
        </div>
    </div>
     <div class="footer-container">
        <app-footer></app-footer>
    </div>
</section>
