<section class="display-flex">
    <div class="main-container">
        <div class="container-one display-flex">
            <div class="text-container display-flex column">
                <b class="font-size-20 weight-500">{{ 'TRANSLATE.PROJECTS_CRAFT' | translate }}</b>
                <div class="text-img">
                    <h2 class="font-size-64 weight-700">{{ 'TRANSLATE.PROJECTS_AOT' | translate }}</h2>
                    <img src="assets/project_view_img/yellow_line.png">
                </div>
                <p class="font-size-18 weight-400">{{ 'TRANSLATE.PROJECTS_TEXT' | translate }}</p>
            </div>
            <div class="project-container display-flex column">
                <div class="image-wrapper">
                    <img class="" src="assets/project_view_img/join_laptop.png" alt="Join App Preview">
                    <a #templateRefJoin class="hover-link a-hover none-mobile" [routerLink]="['/project-view', 'join']" id="join">{{ 'TRANSLATE.PROJECTS_BUTTON' | translate }}</a>     
                </div>
                <div class="text-wraper">
                    <h3 class="font-size-24 weight-700">Join</h3>
                    <p class="font-size-18 weight-400">
                        {{ 'TRANSLATE.PROJECTS_JOIN' | translate }}
                    </p>
                    <div class="touch-button-container">
                        <a class="touch-button font-size-16 weight-500 none" [routerLink]="['/project-view', 'join']" id="join">{{ 'TRANSLATE.PROJECTS_BUTTON' | translate }}</a>
                    </div> 
                </div>    
            </div>
        </div>
        <div class="container-two flex-justyfy-align">
            <div class="project-container">
                <div class="image-wrapper">
                    <img class="img-height" src="assets/project_view_img/pollo.png">
                    <a #templateRefPollo class="hover-link a-hover none-mobile" [routerLink]="['/project-view', 'pollo']"  id="pollo">{{ 'TRANSLATE.PROJECTS_BUTTON' | translate }}</a>
                </div>
                <div class="text-wraper">
                    <h3 class="font-size-24 weight-700">El Pollo Loco</h3>
                    <p class="font-size-18 weight-400">
                        {{ 'TRANSLATE.PROJECTS_POLLO' | translate }}
                    </p>
                    <div class="touch-button-container">
                        <a class="touch-button font-size-16 weight-500 none" [routerLink]="['/project-view', 'pollo']" id="pollo">{{ 'TRANSLATE.PROJECTS_BUTTON' | translate }}</a>
                    </div>  
                </div>     
            </div>
        </div>
    </div>
</section>