<section>

    <app-navbar class="navbar-container absolute flex-justyfy-align"></app-navbar>

    <div class="main-container flex-justyfy-align column">
        
        <div class="go-back remove-button">
            <div class="hover-back-container display-flex">
                <a class="display-flex" href="#projects">
                    <img class="pointer" src="assets/project_view_img/orange_arrow.png">
                </a>          
                <a class="font-size-18 weight-700 black-font pointer back-hover" href="#projects">{{ 'TRANSLATE.P_VIEW_BACK' | translate }}</a>
            </div>
        </div>



        <div class="content-container flex-justyfy-align">

            <div class="container-one flex-justyfy-align">
                
                <div class="container-one-inner flex-justyfy-align column">

                <div class="project-info set-width">
                    <div class="headline-img">
                        <div class="text-wrapper">
                            <h1 class="font-size-64 weight-700">{{ selectedProject?.name }}</h1>
                            <img src="assets/about_me_img/blue_line.png">
                        </div>
                    </div>
                    <div class="set-width">
                        <p class="font-size-24 weight-700">{{ 'TRANSLATE.P_VIEW_TEXT1' | translate }}</p>
                        <ng-container *ngIf="selectedProject as project">
                            <span class="font-size-18 weight-400">
                            {{ project.description | translate }}
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="set-width">
                    <p class="font-size-24 weight-700">{{ 'TRANSLATE.P_VIEW_TEXT2' | translate }}</p>
                    <ng-container *ngIf="selectedProject as project">
                        <span class="font-size-18 weight-400">
                        {{ project.details | translate }}
                        </span>
                    </ng-container>
                </div>
                <div class="set-width">
                    <div class="margin-16">
                        <p class="font-size-18 weight-700">{{ 'TRANSLATE.P_VIEW_TEXT3' | translate }}:
                        <span class="font-size-18 weight-400">{{ selectedProject?.weeks }}
                        {{ 'TRANSLATE.P_VIEW_WEEKS' | translate }}</span></p>
                    </div>
                    <div class="skill-setup display-flex">
                         <p class="flex-justyfy-align" *ngFor="let skill of skills">
                            <img [src]="skill.icon" [alt]="skill.label + ' icon'" width="20" height="20" *ngIf="skill.icon" />
                            {{ skill.label }}
                        </p>
                    </div>
                </div>

                </div>
            
            </div>

            <div class="container-two flex-justyfy-align column ">
                
                <img class="img-project" src="assets/project_view_img/{{ selectedProject?.id }}.png">
                    
                <div class="button-container-img display-flex" *ngIf="selectedProject as project">

                    <div class="button-container-inner-img" *ngIf="project.githubUrl">
                        <a class="font-size-18 weight-500 hover-link a-hover"
                        [href]="project.githubUrl"
                        target="_blank"
                        rel="noopener noreferrer">Github</a>
                    </div>

                    <div class="button-container-inner-img" *ngIf="project.liveUrl">
                        <a class="font-size-18 weight-500 hover-link a-hover"
                        [href]="project.liveUrl"
                        target="_blank"
                        rel="noopener noreferrer">Live Test</a>
                    </div>

                </div>
            
            </div>
     
        </div>


        <div class="button-container display-flex">
            <div class="button-back none">
                <a class="display-flex" href="#projects">
                    <img class="pointer" src="assets/project_view_img/orange_arrow.png">
                </a>          
                <a class="font-size-18 weight-700 white-font pointer back-hover" href="#projects">{{ 'TRANSLATE.P_VIEW_BACK' | translate }}</a>
            </div>
            <div class="button-next display-flex">
                <div class="hover-next-container display-flex">
                    <a class="font-size-18 weight-700 white-font pointer next-hover" (click)="goToNextProject()">{{ 'TRANSLATE.P_VIEW_NEXT' | translate }}</a>
                    <a class="display-flex" (click)="goToNextProject()">
                        <img class="pointer" src="assets/project_view_img/yellow_arrow.png">
                    </a>
                </div>
            </div>
        </div>
 
    </div>

    

</section>