<section>

    <app-navbar class="navbar-container absolute flex-justyfy-align"></app-navbar>
    
    <div class="content-containe">

        <div class="go-back">
            <a class="display-flex" href="#projects">
                <img class="pointer" src="assets/project_view_img/orange_arrow.svg">
            </a>          
            <a class="font-size-18 weight-700 black-font pointer back-hover" href="#projects">{{ 'TRANSLATE.P_VIEW_BACK' | translate }}</a>
        </div>

        <div>
            <div class="main-container display-flex">
            <div>
                <div>
                    <div class="headline-img">
                        <div class="text-wrapper">
                            <h1 class="font-size-64 weight-700">{{ selectedProject?.name }}</h1>
                            <img src="assets/about_me_img/blue_line.svg">
                        </div>
                    </div>
                    <div>
                        <p class="font-size-24 weight-700">{{ 'TRANSLATE.P_VIEW_TEXT1' | translate }}</p>
                        <span class="font-size-18 weight-400">
                            {{ selectedProject?.description }}
                        </span>
                    </div>
                </div>
                <div>
                    <p class="font-size-24 weight-700">{{ 'TRANSLATE.P_VIEW_TEXT2' | translate }}</p>
                    <span class="font-size-18 weight-400">
                        {{ selectedProject?.details }}
                    </span>
                </div>
                <div>
                    <div class="margin-16">
                        <p class="font-size-18 weight-700">{{ 'TRANSLATE.P_VIEW_TEXT3' | translate }}:
                        <span class="font-size-18 weight-400">{{ selectedProject?.weeks }}
                        {{ 'TRANSLATE.P_VIEW_WEEKS' | translate }}</span></p>
                    </div>
                    <div class="skill-setup">
                         <p class="flex-justyfy-align" *ngFor="let skill of skills">
                            <img [src]="skill.icon" [alt]="skill.label + ' icon'" width="20" height="20" *ngIf="skill.icon" />
                            {{ skill.label }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="button-img-container">
                <img class="img-project" src="assets/project_view_img/{{ selectedProject?.id }}.svg">
                    
                <div class="button-container" *ngIf="selectedProject as project">

                    <div class="button-container-inner" *ngIf="project.githubUrl">
                        <a class="font-size-18 weight-500 hover-link a-hover"
                        [href]="project.githubUrl"
                        target="_blank"
                        rel="noopener noreferrer">Github</a>
                    </div>

                    <div class="button-container-inner" *ngIf="project.liveUrl">
                        <a class="font-size-18 weight-500 hover-link a-hover"
                        [href]="project.liveUrl"
                        target="_blank"
                        rel="noopener noreferrer">Live Test</a>
                    </div>

                </div>
                    
            </div>
        </div>
        </div>

        <div class="go-next">
            <a class="font-size-18 weight-700 white-font pointer next-hover" (click)="goToNextProject()">{{ 'TRANSLATE.P_VIEW_NEXT' | translate }}</a>
            <a class="display-flex" (click)="goToNextProject()">
                <img class="pointer" src="assets/project_view_img/yellow_arrow.svg">
            </a>
        </div>

    </div>

</section>