section {
    background-image: url('./../../../public/assets/skill_set_img/background_ss.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins';
}

.main-container {
    position: relative;
    height: 458px;
    width: 90%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-container {
    height: 144px;
    margin-bottom: 64px;
    p {
        margin-left: 176px;
    }
    h1 {
        margin: 0px;
    }
}

.h1-decoration {
    background-image: url('./../../../public/assets/skill_set_img/orange_circle.svg');
    background-repeat: no-repeat;
    height: 108px;
    width: 261px;
}

.second-containe {
    justify-content: center;
}

.img-stack {
    img {
        height: 72px;
        width: 72px;
    }
}

.img-txt {
    height: 98px;
    width: 96px;
    margin: 0px 16px 40px 16px;
}

.bigger-width {
    width: 140px;
    justify-content: center;
}

.peel-off {
    margin: 0px 0px 96px 64px;
    transform: rotate(8deg);
}

