<section>
<div class="main-container">
    <div class="text-container">
        <p>MY STACK</p>
        <div class="h1-decoration">      
            <h1>Skill set</h1>
        </div>
    </div>

    <div class="second-containe">
        <div class="img-stack">

            <div class="container-one">
                <div class="img-txt">
                    <img src="assets\skill_set_img\front_end\html.svg">
                    <p>HTML</p>
                </div>
                <div class="img-txt">
                    <img src="assets/skill_set_img/front_end/css.svg">
                    <p>CSS</p>
                </div>
                <div class="img-txt">
                    <img src="assets/skill_set_img/front_end/javascript.svg">
                    <p>JavaScript</p>
                </div>
                <div class="img-txt">
                    <img src="assets/skill_set_img/front_end/typescript.svg">
                    <p>TypeScript</p>
                </div>
                <div class="img-txt">
                    <img src="assets\skill_set_img\front_end\angular.svg">
                    <p>Angular</p>
                </div>
            </div>

            <div class="container-two">
                <div class="img-txt">
                    <img src="assets/skill_set_img/front_end/firebase.svg">
                    <p>Firebase</p>
                </div>
                <div class="img-txt">
                    <img src="assets/skill_set_img/front_end/git.svg">
                    <p>Git</p>
                </div>
                <div class="img-txt">
                    <img src="assets/skill_set_img/front_end/rest_api.svg">
                    <p>Rest-Api</p>
                </div>
                <div class="img-txt">
                    <img src="assets/skill_set_img/front_end/scrum.svg">
                    <p>Scrum</p>
                </div>
                <div class="img-txt">
                    <img src="assets/skill_set_img/front_end/materialdesign.svg">
                    <p class="bigger-width">Material Design</p>
                </div>
            </div>
        </div>

        <img class="peel-off" src="assets/skill_set_img/default.svg">

    </div>
</div>
</section>
