<nav class="display-flex font-size-18 weight-700 legal-privacy">
  <img class="none logo" src="assets\headline_img\navbar_img\logo_dj.png">
    <div class="flex-justyfy-align">
        <a class="white-font pointer project-view-color none" [routerLink]="['/']" fragment="aboutme">{{ 'TRANSLATE.NAV_ABOUT_ME' | translate }}</a>
        <div class="circle-container">
          <img src="assets/headline_img/navbar_img/circle.png">
        </div>
    </div>
    <div class="flex-justyfy-align"> 
        <a class="white-font pointer project-view-color none" [routerLink]="['/']" fragment="skills">{{ 'TRANSLATE.NAV_SKILLS' | translate }}</a>
        <div class="line-container">
            <img src="assets/headline_img/navbar_img/line_one.png">
        </div>
    </div>
    <div class="flex-justyfy-align">
        <a class="white-font pointer project-view-color-two none" [routerLink]="['/']" fragment="projects">{{ 'TRANSLATE.NAV_PROJECTS' | translate }}</a>
        <div class="line-container-two">
            <img src="assets\headline_img\navbar_img\line_two.png">
        </div>
    </div>
    <div class="flex-justyfy-align">
        <a class="white-font pointer project-view-color-two none" [routerLink]="['/']" fragment="contact">{{ 'TRANSLATE.NAV_CONTACT' | translate }}</a>
        <div class="line-container-three">
            <img src="assets/headline_img/navbar_img/line_three.png">
        </div>
    </div>  
    <div class="flex-justyfy-align none">
        <div class="flex-justyfy-align">
            <a class="white-font pointer project-view-color-two" (click)="setLanguage(1)">EN</a>
            <div class="toggle-en">
                <img src="assets/headline_img/navbar_img/toggle.png">
            </div>
        </div>
    <div class="flex-justyfy-align slidecontainer none">
        <input type="range" min="1" max="2" class="slider" [(ngModel)]="sliderValue" [disabled]="true"/>
    </div>
    <div class="flex-justyfy-align none">
        <a class="white-font pointer project-view-color-two" (click)="setLanguage(2)">DE</a>
        <div class="toggle-de">
            <img src="assets/headline_img/navbar_img/toggle.png">
        </div>
    </div>
  </div>
  <div class="phone-menu show">
    <div class="test">
      <img class="logo-phone" src="assets/headline_img/navbar_img/logo_dj.png" />
      <a (click)="toggleDropdown()" class="menu-button">
        <img class="menu-open" src="assets/headline_img/navbar_img/menu.png" alt="Menu Icon" />
      </a>
    </div>
    <div class="dropdown-menu" [class.show]="isDropdownVisible">
      <div class="menu-content flex-justyfy-align column">
        <div class="close-button" (click)="toggleDropdown()">
          <img class="logo-phone" src="assets/headline_img/navbar_img/logo_dj.png" />
          <img class="close-x" src="assets/headline_img/navbar_img/x.png" alt="Close Menu" />
        </div>
        <div class="flex-justyfy-align column">
          <a class="white-font" href="#aboutme" (click)="toggleDropdown()">About</a>
          <a class="white-font" href="#skills" (click)="toggleDropdown()">Skills</a>
          <a class="white-font" href="#projects" (click)="toggleDropdown()">Projects</a>
          <a class="white-font" href="#contact" (click)="toggleDropdown()">Contact</a>
        </div>
        <div class="flex-justyfy-align language-switcher-mobile">
          <div class="flex-justyfy-align">
            <a class="white-font pointer" (click)="setLanguage(1)">EN</a>
          </div>
          <div class="flex-justyfy-align slidecontainer">
            <input type="range" min="1" max="2" class="slider" [(ngModel)]="sliderValue" [disabled]="true"/>
          </div>
          <div class="flex-justyfy-align">
            <a class="white-font pointer" (click)="setLanguage(2)">DE</a>
          </div>
        </div>
        <div class="phone-menu-hyper display-flex">
          <a href="https://www.linkedin.com/in/davor-jezernik-a69515261/" target="_blank">
            <img class="pointer white-border social-link" src="assets/headline_img/linkedin.svg"/>
          </a>
          <a href="https://github.com/davorjezernik" target="_blank">
            <img class="pointer white-border social-link" src="assets/headline_img/github.svg"/>
          </a>
          <a href="mailto:dev@davorjezernik.com">
            <img class="pointer white-border social-link" src="assets/headline_img/mail.svg"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
