<nav class="display-flex font-size-18 weight-700">
    <img src="assets\headline_img\navbar_img\logo_dj.png">
    <div class="flex-justyfy-align">
        <a class="white-font pointer project-view-color" href="#aboutme">{{ 'TRANSLATE.NAV_ABOUT_ME' | translate }}</a>
        <div class="circle-container">
          <img src="assets/headline_img/navbar_img/circle.svg">
        </div>
    </div>
    <div class="flex-justyfy-align"> 
        <a class="white-font pointer project-view-color" href="#skills">{{ 'TRANSLATE.NAV_SKILLS' | translate }}</a>
        <div class="line-container">
            <img src="assets/headline_img/navbar_img/line_one.svg">
        </div>
    </div>
    <div class="flex-justyfy-align">
        <a class="white-font pointer" href="#projects">{{ 'TRANSLATE.NAV_PROJECTS' | translate }}</a>
        <div class="line-container-two">
            <img src="assets\headline_img\navbar_img\line_two.svg">
        </div>
    </div>
    <div class="flex-justyfy-align">
        <a class="white-font pointer" href="#contact">{{ 'TRANSLATE.NAV_CONTACT' | translate }}</a>
        <div class="line-container-three">
            <img src="assets/headline_img/navbar_img/line_three.svg">
        </div>
    </div>  

    <div class="flex-justyfy-align">
        <div class="flex-justyfy-align">
            <a class="white-font pointer" (click)="setLanguage(1)">EN</a>
            <div class="toggle-en">
                <img src="assets/headline_img/navbar_img/toggle.svg">
            </div>
        </div>

    <div class="flex-justyfy-align slidecontainer">
        <input type="range" min="1" max="2" class="slider" [(ngModel)]="sliderValue" [disabled]="true"/>
    </div>

    <div class="flex-justyfy-align">
        <a class="white-font pointer" (click)="setLanguage(2)">DE</a>
        <div class="toggle-de">
            <img src="assets/headline_img/navbar_img/toggle.svg">
        </div>
    </div>
    </div>

</nav>
