<section>
    <div>

        <div>
            <div>
                <p>My stack</p>
                <h2>Skill set</h2>
            </div>
        </div>

        <div>
            <div class="img-txt flex-justyfy-align column">
                    <img src="assets\skill_set_img\front_end\html.svg">
                    <p class="font-size-18 weight-400">HTML</p>
                </div>
                <div class="img-txt flex-justyfy-align column">
                    <img src="assets/skill_set_img/front_end/css.svg">
                    <p class="font-size-18 weight-400">CSS</p>
                </div>
                <div class="img-txt flex-justyfy-align column">
                    <img src="assets/skill_set_img/front_end/javascript.svg">
                    <p class="font-size-18 weight-400">JavaScript</p>
                </div>
                <div class="img-txt flex-justyfy-align column">
                    <img src="assets/skill_set_img/front_end/typescript.svg">
                    <p class="font-size-18 weight-400">TypeScript</p>
                </div>
                <div class="img-txt flex-justyfy-align column">
                    <img src="assets\skill_set_img\front_end\angular.svg">
                    <p class="font-size-18 weight-400">Angular</p>
                </div>
                <div class="img-txt flex-justyfy-align column">
                    <img src="assets/skill_set_img/front_end/firebase.svg">
                    <p class="font-size-18 weight-400">Firebase</p>
                </div>
                <div class="img-txt flex-justyfy-align column">
                    <img src="assets/skill_set_img/front_end/git.svg">
                    <p class="font-size-18 weight-400">Git</p>
                </div>
                <div class="img-txt flex-justyfy-align column">
                    <img src="assets/skill_set_img/front_end/rest_api.svg">
                    <p class="font-size-18 weight-400">Rest-Api</p>
                </div>
                <div class="img-txt flex-justyfy-align column">
                    <img src="assets/skill_set_img/front_end/scrum.svg">
                    <p class="font-size-18 weight-400">Scrum</p>
                </div>
                <div class="img-txt flex-justyfy-align column">
                    <img src="assets/skill_set_img/front_end/materialdesign.svg">
                    <p class="bigger-width display-flex font-size-18 weight-400">Material Design</p>
                </div>

                 <div class="peel-off-container">  
            <img class="img3" src="assets/skill_set_img/done.png"/>
            <div class="img3-text flex-justyfy-align">
                <div class="layer-zero flex-justyfy-align column">
                    <p class="font-size-18 weight-700">{{ 'TRANSLATE.SKILL_OPEN' | translate }}</p>
                    <div class="display-flex">
                        <div class="flex-justyfy-align column img-text-learn">
                            <img src="assets/skill_set_img/react.svg">
                            <p class="font-size-16 weight-400">React</p>
                        </div>
                        <div class="flex-justyfy-align column img-text-learn">
                            <img src="assets/skill_set_img/VueJs.svg">
                            <p class="font-size-16 weight-400">Vue Js</p>
                        </div>
                    </div>
                </div>       
            </div>
            <img class="img2" src="assets/skill_set_img/mid.svg" [ngClass]="{ show: showImg2 && !hideImg2, hide: hideImg2 }"/>
            <div (click)="startPeelOff()">
                <img class="img1" src="assets/skill_set_img/default.png" [class.hide]="hideImg1"/>
                <div class="img1-text flex-justyfy-align" [class.hide]="hideImg1Text">
                    <div class="layer-one flex-justyfy-align">
                        <img class="arrow-img" src="assets/skill_set_img/white_arrow.png" />
                        <p class="font-size-24 weight-400">{{ 'TRANSLATE.SKILL_PULL' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
</section>
