<section class="white-font">
    <div class="main-container flex-justyfy-align">

        <div class="content-container display-flex">
            <div class="container-one display-flex">
                <div class="text-container">
                    <p class="font-size-20 weight-500">{{ 'TRANSLATE.WORK_CONTACT' | translate }}</p>
                    <h1 class="font-size-64 weight-700">{{ 'TRANSLATE.WORK_READY' | translate }}</h1>
                    <span class="font-size-18 weight-400">
                    {{ 'TRANSLATE.WORK_TEXT' | translate }}
                    </span>
                    <div class="arrow-container none">
                        <img src="assets/ready_to_work_img/yellow_arrwo.svg">
                    </div>
                </div> 
            </div>

            <div class="container-two display-flex">
                <form #contactForm="ngForm"> 
                    <div class="hover-form">
                        <p class="font-size-24 weight-500">{{ 'TRANSLATE.WORK_NAME' | translate }}</p>

                        <input name="name" required #name="ngModel" minlength="3"
                        [(ngModel)]="contactData.name" class="input-info white-font font-size-18" id="name"
                        placeholder="{{ 'TRANSLATE.WORK_PLACEHOLDER1' | translate }}" type="text">
                        @if (!name.valid && name.touched) {
                           <span class="form-warning">{{ 'TRANSLATE.WORK_P_NAME' | translate }}</span> 
                        }
                        
                        <div class="yellow-line"></div>
                    </div>                
                    <div class="hover-form">
                        <p class="font-size-24 weight-500">{{ 'TRANSLATE.WORK_EMAIL' | translate }}</p>

                        <input name="email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                        [(ngModel)]="contactData.email" class="input-info white-font font-size-18" id="email"
                        placeholder="{{ 'TRANSLATE.WORK_PLACEHOLDER2' | translate }}" type="email" #mail="ngModel">
                        @if (!mail.valid && mail.touched) {
                           <span class="form-warning">{{ 'TRANSLATE.WORK_P_EMAIL' | translate }}</span> 
                        }

                        <div class="yellow-line"></div>
                    </div>
                    <div class="hover-form">
                        <p class="font-size-24 weight-500">{{ 'TRANSLATE.WORK_HELP' | translate }}</p>

                        <input name="message" required #message="ngModel" minlength="4"
                        [(ngModel)]="contactData.message" class="input-info white-font font-size-18" id="message"
                        placeholder="{{ 'TRANSLATE.WORK_PLACEHOLDER3' | translate }}" type="text">
                        @if (!message.valid && message.touched) {
                           <span class="form-warning">{{ 'TRANSLATE.WORK_P_MASSAGE' | translate }}</span> 
                        }

                        <div class="yellow-line"></div>
                    </div>
                    <div class="agreement-container display-flex column">
                        <div class="display-flex">

                            <input name="acceptTerms" [(ngModel)]="contactData.acceptTerms" 
                            required class="checkbox pointer" type="checkbox">

                            <div>
                                <span class="weight-400">
                                    {{ 'TRANSLATE.WORK_ACCEPT1' | translate }} <a href="privacypolicy">{{ 'TRANSLATE.WORK_ACCEPT2' | translate }}</a> 
                                    {{ 'TRANSLATE.WORK_ACCEPT3' | translate }}
                                </span>
                            </div>
                        </div>
                        <div class="display-flex container-send">
                            <div class="flex-justyfy-align">
                                <div class="arrow-container-mobile show">
                                    <img src="assets/ready_to_work_img/yellow_arrwo.svg">
                                </div>
                            </div>
                            
                            <div class="before-send" 
                                [class.send-active]="contactForm.valid && contactData.acceptTerms">
                                <a (click)="submitForm(contactForm)"
                                    class="sent-button flex-justyfy-align font-size-18 weight-500 pointer">
                                    {{ 'TRANSLATE.WORK_SEND' | translate }}
                                </a>
                            </div>
                            
                        </div>
                        <div class="submit-warning ">
                            <div *ngIf="formSubmitted && !contactForm.valid" class="form-warning">
                            <span>{{ 'TRANSLATE.WORK_W_MASSAGE' | translate }}</span>
                            </div>
                        </div>
                    </div>                   
                </form>
            </div>
        </div>

    </div>

    
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
    
</section>

