<section class="white-font">
    <app-navbar class="navbar-container absolute flex-justyfy-align"></app-navbar>
    <div class="headline-container display-flex absolute column">           
        <div class="display-flex">
            <div>                 
            <div class="hover-wrapper">
                <p class="font-size-18 weight-500 flex-justyfy-align white-border hover-text"></p>
                <div class="img-container">
                    <img src="assets/headline_img/waving_hand.svg" class="hover-img" alt="Decorative image" />
                </div>
            </div>
            <div class="width-600">
                <h1 class="weight-700 margin-0">
                    <span class="hover-lowercase">F</span>
                    <span class="hover-uppercase">r</span>
                    <span class="hover-uppercase">o</span>
                    <span class="hover-uppercase">n</span>
                    <span class="hover-uppercase">t</span>
                    <span class="hover-uppercase">e</span>
                    <span class="hover-uppercase">n</span>
                    <span class="hover-uppercase">d</span>
                </h1> 
            </div>                 
        </div> 
            <div>
                <img class="my-photo" src='assets/headline_img/testphoto.png'>
            </div>        
        </div>      
        <div class="right display-flex">
            <h1 class="right weight-700 margin-0">
                <span class="hover-lowercase">D</span>
                <span class="hover-lowercase">E</span>
                <span class="hover-lowercase">V</span>
                <span class="hover-lowercase">E</span>
                <span class="hover-lowercase">L</span>
                <span class="hover-lowercase">O</span>
                <span class="hover-lowercase">P</span>
                <span class="hover-lowercase">E</span>
                <span class="hover-lowercase">R</span>
            </h1>
        </div>
        <div class="right display-flex height-48">
            <a class="white-font font-size-18 weight-500 flex-justyfy-align pointer white-border a-hover"
            href="#contact">Get in Touch</a>
        </div>       
    </div>
    <div class="link-container display-flex absolute column">
        <img class="pointer white-border social-link" src='assets/headline_img/linkedin.svg'>
        <img class="pointer white-border social-link" src='assets/headline_img/github.svg'>
        <img class="pointer white-border social-link" src='assets/headline_img/mail.svg'>
    </div>       
</section>





