<section>
    <app-navbar class="navbar-container"></app-navbar>
    <div class="headline-container">           
        <div class="text-photo-container">
            <div>
                <div>
                    <p>Hello world</p>
                    <h1>Frontend</h1>
                </div>
            </div>
            <div>
                <img class="my-photo" src='assets/headline_img/testphoto.png'>
            </div>
        </div>
        <div class="lover-text-container">
            <h1>DEVELOPER</h1>    
            <a>Get in Touch</a> 
        </div>
    </div>
    <div class="link-container">
        <img src='assets/headline_img/linkedin.svg'>
        <img src='assets/headline_img/github.svg'>
        <img src='assets/headline_img/mail.svg'>
    </div>       
</section>





