<section class="white-font">
    <app-navbar class="navbar-container absolute flex-justyfy-align"></app-navbar>
    <div class="headline-container display-flex absolute column">           
        <div class="display-flex">
            <div>  
                <p class="font-size-18 weight-500 flex-justyfy-align white-border">Hello world</p>
                <h1 class="weight-700 margin-0">Frontend</h1>   
            </div> 
            <img class="my-photo" src='assets/headline_img/testphoto.png'>        
        </div>      
        <div class="right display-flex">
            <h1 class="right weight-700 margin-0">DEVELOPER</h1>
        </div>
        <div class="right display-flex">
            <a class="font-size-18 weight-500 flex-justyfy-align pointer white-border">Get in Touch</a>
        </div>       
    </div>
    <div class="link-container display-flex absolute column">
        <img class="pointer white-border" src='assets/headline_img/linkedin.svg'>
        <img class="pointer white-border" src='assets/headline_img/github.svg'>
        <img class="pointer white-border" src='assets/headline_img/mail.svg'>
    </div>       
</section>





