<section>

    <app-navbar class="navbar-container absolute flex-justyfy-align"></app-navbar>
    

    <div class="flex-justyfy-align column">
        <div>
            <h1 class="font-size-64 weight-700">{{ 'TRANSLATE.LN_AOT' | translate }}</h1> 
        </div>

        <div></div>

        <div class="main-container display-flex">
            <div class="content-container-one display-flex column">
                <div>
                    <p class="font-size-18 weight-700">{{ 'TRANSLATE.LN_NAME' | translate }}:<span class="font-size-18 weight-400"> Davor Jezernik</span></p>
                    <p class="font-size-18 weight-700">{{ 'TRANSLATE.LN_ADRESS' | translate }}:<span class="font-size-18 weight-400"> adresa</span></p>
                    <p class="font-size-18 weight-700">{{ 'TRANSLATE.LN_EMAIL' | translate }}:<span class="font-size-18 weight-400"> mail</span></p>
                    <p class="font-size-18 weight-700">{{ 'TRANSLATE.LN_PHONE' | translate }}:<span class="font-size-18 weight-400"> telefon</span></p>
                </div>
                <div>
                    <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.LN_CN' | translate }}</h2>
                    <p class="font-size-18 weight-400">{{ 'TRANSLATE.LN_CN_TEXT' | translate }}</p>
                </div>
                <div>
                    <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.LN_DOF' | translate }}</h2>
                    <p>{{ 'TRANSLATE.LN_DOF_TEXT' | translate }}</p>
                </div>
            </div>
            <div class="content-container-two display-flex column">
                <div>
                    <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.LN_UOF' | translate }}</h2>
                    <p class="font-size-18 weight-400">{{ 'TRANSLATE.LN_UOF_TEXT' | translate }}</p>
                </div>
                <div>
                    <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.LN_PN' | translate }}</h2>
                    <p class="font-size-18 weight-400">{{ 'TRANSLATE.LN_PN_TEXT' | translate }}</p>
                </div>
                <div>
                    <h2 class="font-size-24 weight-700">{{ 'TRANSLATE.LN_C' | translate }}</h2>
                    <p class="font-size-18 weight-400">{{ 'TRANSLATE.LN_C_TEXT' | translate }}</p>
                </div>
            </div>
        </div>
        <div>
            <a class="white-font font-size-18 weight-500 flex-justyfy-align pointer white-border a-hover" href="#contact">{{ 'TRANSLATE.LN_BACK' | translate }}</a>
        </div>
    </div>

</section>
