section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: auto;
    width: 100%;
    font-family: 'Poppins';
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
    p {
        margin: 0px;
    }
    h1 {
        margin: 0px;
    }
    h2 {
        margin: 8px 0px 8px 0px;
    }
}

.container-one {
    background-image: url('./../../../../public/assets/headline_img/background.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 100% 100%;
}

.navbar-container {
    width: 100%;
    position: absolute;
    top: 0px;
}

:host ::ng-deep .legal-privacy {
    width: 100% !important; 
    height: 80px !important;
}

:host ::ng-deep app-navbar  {
    width: 100% !important;
}

:host ::ng-deep .white-font  {
    text-shadow: 1px 1px 1px black; 
}

.aot {
    height: 100%;
    width: 90%;
    justify-content: space-between;
}

.aot-container-one {
    width: 45%;
    text-align: center;
}

.aot-container-two {
    width: 45%;
    text-align: center;
}

.main-container  {
    width: 100%;
    height: 1440px;
    justify-content: center;
    align-items: center;
}

.content-container {
    align-items: center;
    width: 90%;
}

.content-container-one {
    width: 50%;
}

.content-container-two {
    width: 50%;
}

.button-height {
    height: 40px;
}

.a-hover {
    margin-top: 16px;
    text-decoration: none;
    border-width: 1px 4px 4px 1px;
    min-width: 128px;
    max-width: 256px;
    padding: 8px;
    border-radius: 32px;
    border-color: black;
}

.a-hover:hover {
  border-width: 1px;
  background-color: rgb(248, 122, 85);
  transition: border-width 75ms ease, border-color 75ms ease, background-color 75ms ease;
}

.footer-container {
    width: 100%;
    bottom: 0px;
} 

:host ::ng-deep footer {
    background-image: url('./../../../../public/assets/ready_to_work_img/background_rtw.png');
    transform: rotate(180deg);
    background-position: 100% 100%;
    height: 264px !important;
    align-items: flex-start !important;
    padding-top: 32px;
}

:host ::ng-deep .main-container-footer {
    transform: rotate(-180deg);
}

@media screen and (max-width: 801px) {
    .aot{
        flex-direction: column;
        align-items: center;
    }
    .aot-container-one {
        width: 90%;
        height: 55%;
    }
    .aot-container-two {
        width: 90%;
        height: 55%;
    }
    :host ::ng-deep footer {
        height: 320px !important;
    }
    .aot-container-one {
        height: 40%;
    }
    .aot-container-two {
        height: 60%;
    }
}

@media screen and (max-width: 601px) {
    .content-container {
        width: 90%;
    }
    .content-container-one {
        width: 100%;
    }
    .content-container-two {
        width: 100%;
    }
    .font-size-64 {
        font-size: 40px;
    }
    .small-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-container  {
        height: 1880px;
    }
}

@media screen and (max-width: 351px) {
    .footer-container {
        margin-top: 64px;
    }
}



