footer {
    width: 1200px;
    height: 132px;
    img {
        width: 40px;
        height: 40px;
    }
    a {
        text-decoration: none;
    }
}

.hyperling-container {
    justify-content: space-between;
}