<footer>
    <div class="container-one">
        <img src="assets/headline_img/navbar_img/logo_dj.png">
    <p class="font-size-18 weight-700">Davor Jezernik 2025</p>
    <div class="line-container"> 
        <a class="white-font font-size-18 weight-700" href="">Legal Notice</a>
        <div class="hover-line">
            <img src="assets\headline_img\navbar_img\line_two.svg">
        </div>
    </div>
    </div>
    <div class="hyperling-container display-flex">
        <div class="container-two">
                <div class="link-container">
                <a class="white-font font-size-18 weight-700 hover-txt" href="">GitHub</a>
                <div>
                    <img class="move-1" src="assets/headline_img/github.svg">
                </div>
            </div>
            <div class="link-container">
                <a class="white-font font-size-18 weight-700 hover-txt" href="">LinkedIn</a>
                <div>
                    <img class="move-2" src="assets/headline_img/linkedin.svg">
                </div>
            </div>
            <div class="link-container">
                <a class="white-font font-size-18 weight-700 hover-txt" href="">Email</a>
                <div>
                    <img class="move-3" src="assets/headline_img/mail.svg">
                </div>
            </div>
        </div>   
    </div>
</footer>
