footer {
  width: 1200px;
  height: 132px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-container-footer {
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container-one {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
  a {
    padding: 8px 0px;
  }
}

.logo-dj {
  width: 40px;
  height: 32px;
}

.container-two {
  width: 70%;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.link-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
}

.link-container img {
  opacity: 0;
  width: 32px;
  height: 32px;
  transform: translateX(0) rotate(0deg);
  transition: opacity 125ms ease, transform 125ms ease;
}

.link-container a:hover + div img.move-1 {
  opacity: 1;
  animation: spin-slide-left-1 125ms ease forwards;
}

.link-container a:hover + div img.move-2 {
  opacity: 1;
  animation: spin-slide-left-2 125ms ease forwards;
}

.link-container a:hover + div img.move-3 {
  opacity: 1;
  animation: spin-slide-left-3 125ms ease forwards;
}

.link-container a:hover + div img.move-1 {
  opacity: 1;
  transform: translateX(32px) rotate(360deg);
}

.link-container a:hover + div img.move-2 {
  opacity: 1;
  transform: translateX(40px) rotate(360deg);
}

.link-container a:hover + div img.move-3 {
  opacity: 1;
  transform: translateX(24px) rotate(360deg);
}

.line-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 124px;
  a {
    text-decoration: none;
    z-index: 1;
  }
}

.line-container img {
  width: 112px;
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  transition: opacity 125ms ease, clip-path 125ms ease;
  pointer-events: none;
}


.line-container a:hover + .hover-line img {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}

.hover-line {
  position: absolute;
  margin-top: 8px;
}

.hover-txt {
  padding: 8px 16px;
  border-radius: 32px;
  background-image: linear-gradient(to top, rgb(51, 85, 255), rgb(51, 85, 255));
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: background-size 125ms ease;
  color: white;
}

.hover-txt:hover {
    background-size: 100% 100%;
}

@media screen and (max-width: 1201px) {
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 801px) {
  .main-container-footer {
    flex-direction: column;
  }
  .container-one,
  .container-two {
    width: 100%;
  }
  .container-one {
    display: flex;
    flex-direction: row;
  }
  .img-container {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .text-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-end; 
    flex-direction: column;
    p {
      margin: 0px;
    }
  }
}