<footer>
    <img src="assets/headline_img/navbar_img/logo_dj.png">
    <p class="font-size-18 weight-700">Davor Jezernik 2025</p>
    <div class="hyperling-container display-flex">
        <a class="white-font font-size-18 weight-700" href="">Legal Notice</a>
        <a class="white-font font-size-18 weight-700" href="">GitHub</a>
        <a class="white-font font-size-18 weight-700" href="">LinkedIn</a>
        <a class="white-font font-size-18 weight-700" href="">Email</a>
    </div>
</footer>
